<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <context:component-scan base-package="com.it18zhang.springdemo.dao,com.it18zhang.springdemo.service"/>
    <!--
    <bean id="userDao" class="com.it18zhang.springdemo.dao.UserDao"/>

    <bean id="ws" class="com.it18zhang.springdemo.service.WelcomeService">
        <property name="message" value="hello hongXkeX"/>
        <property name="dao" ref="userDao"/>
    </bean>
    -->
</beans>
